<div class="flex min-h-screen">
  <div
    class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
  >
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <a routerLink="/">
          <img
            class="h-14 w-auto"
            src="/assets/images/logo.png"
            alt="Your Company"
          />
        </a>
        <h2 class="mt-3 text-2xl font-bold leading-9 tracking-tight text-white">
          Sign in to your account
        </h2>
        <p class="mt-2 text-sm leading-6 text-gray-400">
          Don't have an account?
          <a
            routerLink="/sign-up"
            class="font-semibold text-green-600 hover:text-green-500"
            >Sign Up</a
          >
        </p>
      </div>

      <div class="mt-10">
        <div>
          <form
            [formGroup]="signInForm"
            class="space-y-4"
            (ngSubmit)="loginUser()"
          >
            <div>
              <label
                for="email"
                class="block text-sm font-medium leading-6 text-white"
                >Email address</label
              >
              <div class="mt-2">
                <input
                  id="email"
                  name="email"
                  type="email"
                  formControlName="email"
                  class="block w-full rounded-md border-0 p-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6"
                />
                <app-error
                  *ngIf="
                    signInForm.get('email')?.touched &&
                    signInForm.get('email')?.invalid
                  "
                >
                  {{
                    signInForm.get("email")?.hasError("required")
                      ? "Email is required"
                      : ""
                  }}
                  {{
                    signInForm.get("email")?.hasError("email")
                      ? "Please enter the valid email"
                      : ""
                  }}
                </app-error>
              </div>
            </div>

            <div>
              <label
                for="password"
                class="block text-sm font-medium leading-6 text-white"
                >Password</label
              >
              <div class="mt-2">
                <input
                  id="password"
                  name="password"
                  type="password"
                  formControlName="password"
                  class="block w-full rounded-md border-0 p-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6"
                />
                <app-error
                  *ngIf="
                    signInForm.get('password')?.touched &&
                    signInForm.get('password')?.invalid
                  "
                >
                  {{
                    signInForm.get("password")?.hasError("required")
                      ? "Password is required"
                      : ""
                  }}
                  {{
                    signInForm.get("password")?.hasError("minlength")
                      ? "Password must be at least 8 characters"
                      : ""
                  }}
                </app-error>
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input
                  id="rememberMe"
                  name="rememberMe"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-600"
                />
                <label
                  for="rememberMe"
                  class="ml-3 block text-sm leading-6 text-gray-300"
                  >Remember me</label
                >
              </div>

              <div class="text-sm leading-6">
                <a
                  routerLink="/forgot-password"
                  class="font-semibold text-green-600 hover:text-green-500"
                  >Forgot password?</a
                >
              </div>
            </div>

            <div>
              <button
                type="submit"
                [disabled]="signInForm.invalid"
                [ngClass]="
                  signInForm.invalid
                    ? 'bg-green-300 cursor-not-allowed'
                    : 'bg-green-600'
                "
                class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500"
              >
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img
      class="absolute inset-0 h-full w-full object-cover"
      src="https://www.ibridge360.com/wp-content/uploads/2023/04/Full-Stack-Web-Development.jpg"
      alt=""
    />
  </div>
</div>
