@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";

@import "variables";
@import "html";

//Checkboxes Style
input[type="checkbox"] {
  accent-color: #228b22;
}

//Input Type Number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

table th,
table td {
  border: 1px solid #eee;
  padding: 10px;
}

// Scroll bar style
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #228b22;
  @include BorRadius(8px);
}

.ezComingSoonHeading {
  line-height: 6rem !important;
  background: linear-gradient(
    90deg,
    #228b22 3.3%,
    #84c547 34.16%,
    #35df8d 44.42%,
    #7880f7 63.23%,
    #2e49b8 98.56%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//Toast
.toast-error {
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  background-image: url("./images/cross.svg");
  color: red !important;
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background: red;
    top: 0;
    left: 0;
  }
  .toast-progress {
    background: red;
  }
}

.toast-success {
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  background-image: url("./images/tick.svg");
  color: green !important;
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background: green;
    top: 0;
    left: 0;
  }
  .toast-progress {
    background: green;
  }
}

.toast-info {
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  background-image: url("./images/info.svg");
  color: #2f96b4 !important;
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background: #2f96b4;
    top: 0;
    left: 0;
  }
  .toast-progress {
    background: #2f96b4;
  }
}
